.ctxt {
  font-size: 2rem;
}

.ptxt {
  font-size: 4rem;
}

.app-bg {
  background: linear-gradient(0deg);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./bg.jpeg);
}